.icon {
    width: 16px;
    height: 16px;
}

.path {
    stroke: var(--slate-900);
    stroke-width: 2;
    stroke-linecap: round;
}

@media (max-width: 375px) {
    .icon {
        width: 16px;
        height: 16px;
    }
}